/* .nav-link{
    display: inline;
} */

.row {
    --bs-gutter-x: -.5 !important;
}

.custom-margin-x {
    padding: 0 5rem !important;
}

.dropdown {
    list-style-type: none;
}

.logo {
    background-color: #e32b2b;
    width: 10rem;
    border-radius: 10px;
    padding: 0.2rem;
    margin-right: 30px;
    height: 2.5rem;

}

.bi-basket3 {
    color: #e32b2b;

}

.order-tag {
    width: 8rem;
    background-color: #f7cc32;
    border-radius: 10px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 14px; */
}

.order-tag:hover {
    background-color: #fff;
    border: 1px solid #f7cc32;
}

.nav-item {
    margin-left: 10px;
}


.item-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid rgb(214, 210, 210);
    border-radius: 10px;
    height: 2.5rem;
    width: 8rem;
    padding: 0;

    /* margin: 3px; */
}

.item-tag:hover {
    background-color: #f7cc32;
    border: 1px solid #f9f9f6;
}

.item-tag .nav-link {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-tag .nav-link img {
    margin-right: 8px;
    height: 13px;
}

.active {
    color: #e32b2b !important;
}

.nav-item {
    font-weight: 700;
}

.hero-section {
    /* height: 425px; */
    padding: 25px 20px;
}

.hero-section h1 {
    font-weight: 800;
    display: flex;
    font-size: 5rem;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 63px 0px 30px 0px;
}

.simple {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    font-size: 12px;
}

.button1 {
    background-color: #e32b2b;
    width: 14rem;
    height: 2.5rem;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.button1:hover {
    border: 1px solid #e32b2b;
    background-color: #fff;
    color: black;
}

.button2 {
    width: 14rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid rgb(219, 216, 216);
    margin-left: 8px;
    font-weight: 700;
}

.button2:hover {
    background-color: #e32b2b;
    color: #fff;
}

.image img {
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 40px;
}


.rating {
    margin-top: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.rating * {
    margin: 3px;
}

.rating span {
    font-weight: 500;
    margin-right: 4px;
}

.sec-nav {
    color: rgb(193, 190, 190) !important;
    font-weight: 200 !important;
}

.sec-item .active {
    color: rgb(18, 17, 17) !important;
}

.sec-nav:hover {
    color: rgb(18, 17, 17) !important;
    font-weight: 600 !important;
}

.third-nav {
    margin: 25px 0px !important;
}

.price {
    display: flex;
    justify-content: space-between;
}

.custom-nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    --bs-nav-tabs-border-width: none !important;
    margin: 25px 0px;

}

.custom-nav-links {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    color: #8c8c8c !important;
    font-weight: 700 !important;
    --bs-nav-tabs-border-width: none !important;
}

.custom-nav-links.active {
    color: #000 !important;
}

.btn-span {
    width: 1px;
    height: 40px;
    background: #ccc;
}

.custom-nav2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

.custom-nav3 {
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
}

.card {
    margin: 15px 20px;
    border: none !important;
    color: white;
}
.card .card-title,.card-text {
   align-items: center;
   display: flex;
   justify-content: center;
}

.card:hover {
    border: 1px solid red !important;
}

.price {
    border: 1px solid rgb(162, 160, 160);
    border-radius: 20px;
    padding-top: 12px;
    margin: 5px 0px;
    display: flex;
    /* align-items: end; */
    justify-content: space-around;
    justify-items: center;
}

.price h5 {
    font-weight: 700;
}
.price p {
    color: #000;
    font-weight: 600;
}

.price span {
    color: #bbb7b7;
    font-weight: 500;
}

.footer-section h6 {
    color: #e32b2b;
}

.footer-section a {
    text-decoration: none;
}

.contact span {
    display: flex;
    flex-direction: column;
    color: #c5c5c5;
}
.tab-pane{
    width: 100% !important;
}


.nav-tabs {
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    border-bottom: 2px solid #DDD;
    flex-wrap: nowrap !important;
    -ms-overflow-style: none;
    /*// IE 10+*/
    overflow: -moz-scrollbars-none;
    /*// Firefox*/
}


/* Media query css */

@media only screen and (max-width: 1440px) {
    .hero-section h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .dropdown {
        display: none !important;
    }
}

@media only screen and (max-width: 1160px) {
    .hero-section h1 {
        font-size: 2.6rem;
        margin: 0px 0px 30px 0px;
    }

    .button1 {
        width: 10rem;
        height: 2.2rem;
    }

    .button2 {
        width: 10rem;
        height: 2.2rem;
    }

    .image img {
        padding: 10px;
    }

}

@media only screen and (max-width: 1000px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .button1 {
        width: 9rem;
        height: 2.2rem;
    }

    .button2 {
        width: 9rem;
        height: 2.2rem;
    }

}

@media only screen and (max-width: 750px) {
    .hero-section h1 {
        font-size: 3.2rem;
    }

    .button1 {
        width: 10rem;
        height: 2.2rem;
    }

    .button2 {
        width: 10rem;
        height: 2.2rem;
    }

}
@media only screen and (max-width: 520px) {
    .hero-section h1 {
        font-size: 2.4rem;
    }

    .button1 {
        width: 9rem;
        height: 2.2rem;
    }

    .button2 {
        width: 9rem;
        height: 2.2rem;
    }

}

@media only screen and (max-width: 440px) {
    .logo {
        margin-bottom: 5px;
    }

    .custom-margin-x {
        padding: 0 3rem !important;
    }

}
@media only screen and (max-width: 375px) {

    .hero-section h1 {
        font-size: 1.9rem;
    }
    .custom-margin-x {
        padding: 0 2rem !important;
    }

}
@media only screen and (max-width: 308px) {

    .hero-section h1 {
        font-size: 1.9rem;
    }
    .custom-margin-x {
        padding: 0 0rem !important;
    }

    .rat1 {
        font-size: x-small;
    }

}



.card .card-title, .card-text{
    text-align: center;
}